@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
body {
  width: 100%;
  height: auto;
  margin: 0;
  background-image: radial-gradient(
    circle,
    rgba(5, 8, 114, 1),
    rgba(7, 3, 53, 1)
  );
  color: #defaf9;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 22px;
}
.weather_search{
    width: 100%;
    padding: 0.9375rem 0.265rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 20px;
    color: inherit;
    margin-bottom: 20px;
  }
  input::placeholder{
    color: #fff;
  }
  .weather_day {
    font-size: 30px;
    font-weight: 400;
  }
  .weather_city {
    font-size: 36px;
    font-weight: 600;
  }
  .weather_forecast_item{
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}
.weather_indicator::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-right: 10px;
}
.weather_indicator--humidity::before {
  background-image: url(../WeatherApp/images/humidity.png);
}

.weather_indicator--wind::before {
  background-image: url(../WeatherApp/images/wind.png);
}

.weather_indicator--pressure::before {
  background-image: url(../WeatherApp/images/pressure.png);
}

  